:root {
    --blue-background: #1C1E53;
    --grey-blue-background: #F4F6FC;
    --grey-background: #F4F5F5;
    --light-blue-background: #EEF4FA;
    --white-background: white;
    --mainText-color: #282938;
    --yellow: #FCD980;
    --blue-text: #2405f2;
}